<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
       ">
    <!-- 使用annotation 自动注册bean, 并保证@Required、@Autowired的属性被注入 -->
    <context:annotation-config/>
    <context:component-scan base-package="cn.thinkjoy"/>
    <bean id="tokenResolver" class="cn.thinkjoy.common.managerui.iauth.client.handler.TokenResolver"/>
    <bean id="embedTokenHandler" class="cn.thinkjoy.common.managerui.iauth.client.handler.EmbedTokenHandler"/>
    <bean id="accessTokenHandler" class="cn.thinkjoy.common.managerui.iauth.client.handler.AccessTokenHandler"/>
    <bean id="agentCookieCredentialHandler"
          class="cn.thinkjoy.common.managerui.iauth.client.handler.UserAgentCookieCredentialHandler">
        <property name="bundledTo" ref="accessTokenHandler"/>
    </bean>
    <bean id="ucmIntegrationAuthenticator"
          class="cn.thinkjoy.common.managerui.iauth.client.UcmIntegrationAuthenticator">

        <constructor-arg>
            <list>
                <ref bean="tokenResolver"/>
                <ref bean="embedTokenHandler"/>
                <ref bean="accessTokenHandler"/>
                <ref bean="agentCookieCredentialHandler"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="delegatingSecurityFilter" class="cn.thinkjoy.common.managerui.iauth.client.filter.EasyAuthSecurityFilter">
        <property name="authenticator" ref="ucmIntegrationAuthenticator"/>
    </bean>
</beans>
